@import "tailwindcss";

@theme {
  --font-thai: "IBM Plex Sans Thai", sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-thai;
  }
}

@utility glass-card {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl rounded-2xl;
}